$darkPurple: #1a253c;
$lightPurple: #303f60;
$bgBlue: #edf6ff;
$skyBlue: #43afff;
$outlinedBtnBackground: #43afff33;

$boxShadow: #557da526;
$headerBorderColor: #4d618e;

$inputBackground: #e8e8e833;
$inputBorder: #c6c6c6;
$error: #ff0000;

$avatar: #d9efff;
