@import "../../styles/constants/responsive.scss";

.headerAction {
  height: 100%;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

@include up-to($phone-landscape) {
  .headerAction {
    justify-content: space-between;
    gap: 0;
  }
}
